<html>

<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <style>
    .product-card {
      margin-bottom: 20px;
    }

    .profile-container {
      top: 10px;
      right: 10px;
      background-color: #f8f9fa;
      padding: 10px;
      border-radius: 5px;
    }

    .thumbnail-image {
      max-width: 100%;
      height: auto;
      max-height: 200px;
      /* Esto limita la altura de la imagen si es muy alta */
    }
  </style>
</head>

<body>
  <div class="container mt-5 centered-card">
    <div class="profile-container">
      <h1>Ecommerce</h1>
      {{#if userProfile}}
      <p>Bienvenido, {{userProfile.first_name}}{{userProfile.username}}!</p>
      <p>Rol: {{userProfile.role}}</p>
      <p>Github ID: {{userProfile.githubId}}</p>
      <a href="/logout" class="btn btn-danger btn-sm">Cerrar sesión</a>
      {{#if (validateUserRole userProfile "admin")}}
      <a href="/products/create" class="btn btn-success btn-sm">Crear Producto</a>
      {{/if}}
      {{#unless (validateUserRole userProfile "admin")}}
      {{#if (validateUserRole userProfile "premium")}}
      <a href="/products/create" class="btn btn-success btn-sm">Crear Producto</a>
      {{else}}
      <button class="btn btn-success btn-sm" disabled>Crear Producto</button>
      {{/if}}
      {{/unless}}
      {{/if}}
      <a href="/api/carts" class="btn btn-primary btn-sm">
        <i class="fas fa-shopping-cart"></i> Ir a mi carrito
        <span class="badge badge-light">{{totalProductsInCart}}</span>
      </a>
    </div>
  </div>
  <div class="container">
    <h1>Productos</h1>
    <h2>Lista de todos los productos</h2>
    <div class="row">
      {{#each products}}
      <div class="col-md-4">
        <div class="card product-card">
          <div class="card-body">
            <h5 class="card-title">Id: {{this._id}}</h5>
            <p class="card-text">Titulo: {{this.title}}</p>
            <p class="card-text">Descripción: {{this.description}}</p>
            <p class="card-text">Categoria: {{this.category}}</p>
            <p class="card-text">Precio: $ {{this.price}}</p>
            <p class="card-text"><img class="thumbnail-image" src="{{this.thumbnail}}" alt="Thumbnail"></p>
            <p class="card-text">Codigo: {{this.code}}</p>
            <p class="card-text">Estado: {{this.status}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <p class="card-text">Owner: {{this.owner}}</p>
            {{#if (validateUserRole this.userProfile "admin")}}
            <a href="/product/delete/{{this._id}}" class="btn btn-danger btn-sm">Eliminar Producto</a>
            {{/if}}
            {{#if (isUserAdminOrOwner  this.owner)}}
            <a href="/cart/add/{{this._id}}" class="btn btn-primary btn-sm">Agregar al carrito</a>
            <a href="/product/delete/{{this._id}}" class="btn btn-danger btn-sm">Eliminar Producto</a>
            {{else}}
            <button class="btn btn-danger btn-sm" disabled>Eliminar Producto</button>
            {{/if}}

          </div>
        </div>
      </div>
      {{/each}}
    </div>

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit=10" class="btn btn-primary">Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit=10" class="btn btn-primary">Siguiente</a>
    {{/if}}

  </div>
  <script>
    import '@fortawesome/fontawesome-free/css/all.css';
  </script>
</body>

</html>