<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de comnpra</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Ticket de Compra</h5>
    <p class="card-text">Cliente: {{customerName}} ({{customerEmail}})</p>
    <p class="card-text">Total de Productos: {{totalQuantity}}</p>
    <p class="card-text">Precio Total: ${{totalPrice}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Detalles de la Compra</h6>
    <ul class="list-group">
      {{#each products}}
        <li class="list-group-item">
          <p>Producto: {{this.productName}}</p>
          <p>Precio: ${{this.price}}</p>
          <p>Cantidad: {{this.quantity}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

</body>
</html>